body {
  -padding-top: 20px;
  padding-bottom: 60px;
	font-family: 'Merriweather', serif;
}

.marketing {
    background: #fff url('/images/paper_fibers.png') repeat scroll top left;

/* Custom container */
.container {
  margin: 0 auto;
  max-width: 1000px;
}
.container > hr {
  margin: 20px 0;
}

}

.jumbotron {
  margin: 80px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 80px;
  line-height: 1;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 800;
}
.jumbotron .lead {
  font-size: 30px;
  line-height: 1.25;
}

.actiontron {
    background: #fff url('/images/paper_fibers.png') repeat scroll top left;
    margin: 10px 0;
	padding: 20px 20px 40px;
    text-align: center;
}

.actiontron h2 {
	margin: 0;
}


.btn {
    font-family: 'Merriweather Sans', sans-serif;
  	font-size: 21px;
	padding: 14px 24px;
	font-weight: bold;
}

.btn i {
	padding-right:1ex;
}


h2 {
	text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 800;
	font-size: 42px;
	padding: 20px 0  16px;
}

h3 {
	font-size: 18px;
	font-family: 'Merriweather', serif;
    font-weight: 700;
	line-height: 1.5em;
}

h3 i {
	padding-right:10px;
}


@media (max-width: 767px) {
	.topmarketing .container {
		margin: 0;
	}
	
	.jumbotron
	{
		margin: 20px 10px;
	}

	.jumbotron h1 {
	  font-size: 36px;
	  line-height: 1;
	}
	.jumbotron .lead {
	  font-size: 20px;
	  line-height: 1.25;
	}
	
	.btn {
	  font-size: 16px;
	  padding: 8px;
	}
	
	h2 {
		margin: 10px 0 0;
		font-size: 24px;
	}
	
	h3 {
		font-size: 18px;
	}
	
}