body {
	padding-bottom: 60px;
	font-family: 'Merriweather', serif;
}

.navbar {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 400;
}

.navbar .brand {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 800;
}

.marketing {
    background: #fff url('/images/paper_fibers.png') repeat scroll top left;
	margin: 30px 0;

/* Custom container */
.container {
  margin: 0 auto;
  max-width: 1000px;
}
.container > hr {
  margin: 20px 0;
}

}

.jumbotron {
  margin: 80px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 80px;
  line-height: 1;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 800;
}

.jumbotron .lead {
  font-size: 30px;
  line-height: 1.25;
}

.btn {
    font-family: 'Merriweather Sans', sans-serif;
  	font-size: 21px;
	padding: 14px 24px;
	font-weight: bold;
	margin: 10px;
}

.btn i {
	padding-right:1ex;
}


h2 {
	text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 800;
	font-size: 42px;
	padding: 20px 0  16px;
}

h3 {
	font-size: 18px;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 700;
	line-height: 1.5em;
}

h3 i {
	padding-right:10px;
}

.servicegrid {
	margin: 10px 0;
}

.servicegrid h3 {
	text-align: center;	
}

.servicegrid i {
	display: block;
	color: #8ea3cf;
	font-size: 30px;
}

blockquote p {
	font-size: 16px;
	line-height: 1.5em;
}

@media (max-width: 767px) {
	.marketing {
		margin: 0 -20px;
		padding: 10px;
	}
	
	.jumbotron {
		margin: 20px 10px;
	}

	.jumbotron h1 {
		font-size: 36px;
		line-height: 1;
	}
	
	.jumbotron .lead {
	  font-size: 20px;
	  line-height: 1.25;
	}
	
	.btn {
	  font-size: 16px;
	  padding: 8px;
	}
	
	h2 {
		margin: 10px 0 0;
		font-size: 24px;
	}
	
	.servicegrid h3 {
		font-size: 18px;
		text-align: left;
		margin-top: 10px;
	}
	
	.servicegrid i {
		display: inline;
		font-size: 18px;
		padding-right:10px;
	}
	
	.brand {
		font-size: ;
	}
}